<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css";>
<style>
html{
  background: url(MenuBackground.jpg) no-repeat center fixed;
  background-size:cover;
}
img {
  border-radius: 8px;
}
</style>
</head>
<body>

  <nav>
  <ul>
    <li><a class="active" href="Home.html">Home</a></li>
    <li><a href="Menu.html">Menu</a></li>
    <li><a href="AboutUs.html">AboutUs</a></li>
    <li><a href="OurTeam.html">OurTeam</a></li>
    <li><a href="ContactUs.html">ContactUs</a></li>
  </ul>
  </nav>
<center>
<h1>Welcome to Sip N Cuppa</h1>
  <p> Want to have a good time and drink some coffee?
    Come to our Cafe!
    Our Cafe was created by the owners of Mobirise eCommerce WebsiteBuilder to bring
    endeavor ready clients,locals and travelers, a truly unique coffee experience.</p>
  </center>




</body>
</html>
